%p#notice= notice
%h1
  = link_to @stream.name, @stream


= @post.content


#comments
  - @post.comments.each do |comment|
    .comment
      = comment.content
      %small
        = time_ago_in_words(comment.created_at)
        
= form_for([@stream, @post, @comment]) do |f|
  .field
    = f.text_field :content
  .actions
    = f.submit 'Комментировать'
